doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Gg, Entropy - Home Page

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/GGfavicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky
            .container.px-5
                a.navbar-brand.custom-brand(href='#!') Gg, Entropy
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='#home') Home
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#coming-soon') Coming Soon
                        li.nav-item
                            a.nav-link(href='#contact') Contact


        // Header
        header#home.bg-dark.py-5.hero
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-lg-6.content-box
                        .text-center.my-5
                            h1.display-5.fw-bolder.text-white.mb-2.custom-brand Gg, Entropy
                            p.lead.text-white-50.mb-4 Take your ideas at any point in the creation process and
                             span.highlight-text make. Them. Happen.
                            .d-grid.gap-3.d-sm-flex.justify-content-sm-center
                                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#about') Get Started
                                a.btn.btn-outline-light.btn-lg.px-4(href='#contact') Contact us


        // Features section
        section#about   .py-5.border-bottom
            .container.px-5.my-5
                .row.gx-5
                    .col-lg-4.mb-5.mb-lg-0
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-graph-up
                        h2.h4.fw-bolder Methodology
                        p
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                        a.text-decoration-none(href='#!')
                            | See how it works
                            i.bi.bi-arrow-right
                    .col-lg-4.mb-5.mb-lg-0
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-building
                        h2.h4.fw-bolder Featured title
                        p
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                        a.text-decoration-none(href='#!')
                            | Call to action
                            i.bi.bi-arrow-right
                    .col-lg-4
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-toggles2
                        h2.h4.fw-bolder Featured title
                        p
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                        a.text-decoration-none(href='#!')
                            | Call to action
                            i.bi.bi-arrow-right

        // Coming Soon section
        section#coming-soon.bg-light.border-bottom.coming-soon-section.py-5
          .container.my-5.px-5
            .row
              .col-md-4.mb-4.mb-md-0
                img.styled-img.img-fluid(src="../assets/phone_user.jpg", alt="Coming Soon Image")
              .col-md-8.px-5.align-items-center
                .content
                  h1 Coming Soon
                  p.lead Both web and mobile apps for Gg, Entropy are under construction. Stay tuned for something amazing!
                  form
                    .form-group.mb-3
                      label(for="email") Notify me when we're live!
                      input#email.form-control(type="email", placeholder="Enter your email")
                    button.btn.btn-primary(type="submit") Notify Me

        // Testimonials section
        section#testimonials.py-5.border-bottom
            .container.px-5.my-5.px-5
                .text-center.mb-5
                    h2.fw-bolder Customer testimonials
                    p.lead.mb-0 Our customers love working with us
                .row.gx-5.justify-content-center
                    .col-lg-6
                        // Testimonial 1
                        .card.mb-4
                            .card-body.p-4
                                .d-flex
                                    .flex-shrink-0
                                        i.bi.bi-chat-right-quote-fill.text-primary.fs-1
                                    .ms-4
                                        p.mb-1 Before, my ideas would fizzle out before I could take any real action. Now, I’m actually seeing them take shape, and it’s all thanks to this incredible product!
                                        .small.text-muted - Jordan L., UT
                        // Testimonial 2
                        .card.mb-4
                            .card-body.p-4
                                .d-flex
                                    .flex-shrink-0
                                        i.bi.bi-chat-right-quote-fill.text-primary.fs-1
                                    .ms-4
                                        p.mb-1 I was stuck with so many ideas in my head, unsure of where to start. This tool helped me organize, refine, and execute them with confidence. Truly a game-changer!
                                        .small.text-muted timonial 2
                        // Testimonial 3
                        .card
                            .card-body.p-4
                                .d-flex
                                    .flex-shrink-0
                                        i.bi.bi-chat-right-quote-fill.text-primary.fs-1
                                    .ms-4
                                        p.mb-1 The best part about this solution is how it transforms ideas into actionable steps. I no longer feel like my ideas are just fleeting thoughts!
                                        .small.text-muted - Taylor S., CA



        // Contact section
        section#contact.bg-light.py-5
            .container.px-5.my-5.px-5
                .text-center.mb-5
                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                        i.bi.bi-envelope
                    h2.fw-bolder Get in touch
                    p.lead.mb-0 We'd love to hear from you
                .row.gx-5.justify-content-center
                    .col-lg-6

                        // * * * * * * * * * * * * * * *
                        // * * SB Forms Contact Form * *
                        // * * * * * * * * * * * * * * *

                        // This form is pre-integrated with SB Forms.
                        // To make this form functional, sign up at
                        // https://startbootstrap.com/solution/contact-forms
                        // to get an API token!

                        form#contactForm(data-sb-form-api-token='API_TOKEN')

                            // Name input
                            .form-floating.mb-3
                                input#name.form-control(
                                    type='text',
                                    placeholder='Enter your name...'
                                    data-sb-validations='required'
                                )
                                label(for='name') Full name
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.
                            
                            // Email address input
                            .form-floating.mb-3
                                input#email.form-control(
                                    type='email',
                                    placeholder='name@example.com'
                                    data-sb-validations='required,email'
                                )
                                label(for='email') Email address
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.
                            
                            // Phone number input
                            .form-floating.mb-3
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='(123) 456-7890'
                                    data-sb-validations='required'
                                )
                                label(for='phone') Phone number
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | A phone number is required.
                            
                            // Message input
                            .form-floating.mb-3
                                textarea#message.form-control(
                                    type='text',
                                    placeholder='Enter your message here...',
                                    style='height: 10rem;'
                                    data-sb-validations='required'
                                )
                                label(for='message') Message
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                            // Submit success message
                            //
                            // This is what your users will see when the form
                            // has successfully submitted
                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder Form submission successful!
                                    | To activate this form, sign up at
                                    br
                                    a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                            // Submit error message
                            //
                            // This is what your users will see when there is
                            // an error submitting the form
                            #submitErrorMessage.d-none
                                .text-center.text-danger.mb-3 Error sending message!

                            // Submit Button
                            .d-grid
                                button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Submit

        // Footer
        footer.py-5.bg-dark
            .container.px-5
                p.m-0.text-center.text-white Copyright &copy; Gg, Entropy 2024

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
